{% extends "base.html" %}

{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>{{title}}</h1>
            <div class="container text-center">
              <p class="lead text-muted"> {{copy}} </p>

            </div>
        <p class="lead text-muted"> Upload an image to get started</p>
      </div>
    </div>
    
    <div class="text-center" style="display: flex; justify-content: center; align-items: center">
        <form method="post" action="/upload" enctype="multipart/form-data">
            <dl>
            		<p>
                		<label class="btn btn-primary" for="my-file-selector">
            			<input type="file" name="file" autocomplete="off" required>
            			</label>
            		</p>
            </dl>
            <p>
            		<button class="btn btn-primary" type="submit" value="Submit"> Submit </button>
            		
            	</p>
        </form>
    </div>

    
{% endblock %}

